*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: floralwhite;
}

body {
  margin: 0;
  padding: 20px;
  background-color:floralwhite;
  color:lightsalmon;
}

.logo{
    text-align: center;
    padding: 0;
    margin-top: 100px;
}

/* boton ingresar*/
.btn-primary {
    font-weight: bold;
    font-style: italic;
    justify-content: center;
    margin-top: 40px;
    background-color: lightsalmon;
    border-color: lightsalmon;
    display: flex;
    justify-content: center;
}

.templates {
    background-color: floralwhite;
}






